/* Tablet 768px */
@media (min-width: 768px){
    /* Navbar */
    .nav {
        position: fixed;
        background-color: transparent;
    }

    /* Sider */
    .page-top-margin{
        margin-top: 6.25em;
    }
    .page-container{
        margin: 0 2em !important;
    }


    /* Billede bag navbar */
    .image-zindex
    {
        z-index: -1;
    }

    /* Footeren */
    .footer-row{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    } 
    .footer-column{
        flex-direction: column;
        width: 33%;
    }
    .footer-divider{
       /* margin-inline-start: auto !important; */
       margin: 2em auto !important;
    }
    .hide-divider{
        display: none !important;
    }
    .fake-footer-text{
        display: block !important;
    }

    /* Kontakt*/

    .contact-information{
        flex-direction: row !important;
        justify-content: space-around !important;
    }
/*     .contact-person{
       align-items: center !important;
        width: 33%;
    } */

/*     .contact-person-image{
        display: flex;
        justify-content: center;
    }  */
/*     .contact-person-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }  */
/*     .contact-person-information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }  */



    .contact-form-div{
        flex-direction: row !important;
        margin: 0 1em;
    }
    .contact-form{
        width: 50%;
        margin: 0 !important;
    }
    .contact-form-row{
        margin: 0 !important;
    }
    .contact-form-map{
        margin: 0 !important;
        width: 50%;
    }
    .contact-form-map iframe{
        height: 100% !important;
        width: 100% !important;
    }

    /* Forsiden */
    .frontpage-header{
        margin-left: 2em;
        margin-right: 2em;
    }
    .frontpage-content{
        margin-left: 2em;
        margin-right: 2em;
    }
    .frontpage-link-box-three{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .frontpage-link-box-column{
        margin: 0.5em 0.2em;
        padding: 0;
        width: 33%;
    }
    .frontpage-link-box-column img, .frontpage-link-box-column h5{
        margin: auto;
    }


    /* Modeller siden */
    .model-page-row{
        flex-direction: row !important;
        justify-content: space-between;
    }
    .model-page-column{
        margin: 0 1em;
        width: 50%;
    }
    .model-page-column-full{
        width: 100%;
    }


    /* Dokumentationsreoler drift */
    .docu-drift{
        display: block !important;
    }
    .btn-flex-docu{
        flex-direction: row !important;
    }
    .btn-column{
        width: 33%;
    }
    .btn-column a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        margin: 1em 0.1em;
    }

    


}
@media (max-width: 767px){

}





/* Laptop 1024px */
@media (min-width: 1024px){
    *{
        font-size: 1.1rem;
    }

    .nav {
        background-color: transparent;
    }
/*     .nav.scrolled{
        background: purple;
    } */

    .page-container{
        margin: 0 3em !important;
    }


    /* Forsiden */
    .frontpage-header{
        margin-left: 3em;
        margin-right: 3em;
    }
    .frontpage-content{
        margin-left: 3em;
        margin-right: 3em;
    }
}
@media (max-width: 1023px){

}





/* Laptop 1440px */
@media (min-width: 1440px){
    .menu-bar{
        display: none !important;
    }
    .page-container{
        margin: 0 4em !important;
    }
}

@media (max-width:1439px){
    .hide-menu{
        display: none !important;
    }

}


/* 4K 2560px */
@media (min-width: 2560px){
    .page-container{
        margin: 0 5em !important;
    }
}

@media (max-width:2560px){

}