/* Tablet 768px */
@media (min-width: 768px){
    /* Navbar */
    .nav {
        position: fixed;
        background-color: transparent;
    }

    /* Sider */
    .page-top-margin{
        margin-top: 100px;
    }


    /* Billede bag navbar */
    .image-zindex
    {
        z-index: -1;
    }

    /* Footeren */
    .footer-row{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    } 
    .footer-column{
        flex-direction: column;
    }
    .footer-divider{
        flex-direction: c;
    }
}
@media (max-width: 767px){

}





/* Laptop 1024px */
@media (min-width: 1024px){
    .nav {
        background-color: transparent;
    }
    .nav.scrolled{
        background: purple;
    }
}
@media (max-width: 1023px){

}





/* Laptop 1440px */
@media (min-width: 1440px){
    .menu-bar{
        display: none !important;
    }
}
@media (max-width:1439px){
    .hide-menu{
        display: none !important;
    }

}