.page-container{
    margin: 0 1em;
    min-height: 65vh;
}
.page-container h1{
    margin-bottom: 1em;
}

.model-page-row{
    display: flex;
    flex-direction: column;
}

.model-page-column h3{
    margin: 0 0 0.5em 0;
    text-align: left;
}
.model-page-column p{
    margin: 0 0 2.5em 0;
    text-align: left;
}

#test-goats{
    width: 80%;
    height: 80%;
    padding: 0 0 2em 0;
}